._chernogorskiy {
     background-image: url(../src/img/calendar/chernogorshreb.jpg);
     background-position: center center;
     background-size: cover;
     background-repeat: no-repeat;
}
._marmarosi {
     background-image: url(../src/img/calendar/marmarosi.jpg);
     background-position: center center;
     background-size: cover;
     background-repeat: no-repeat;
}